<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link href="./stylesheets/user-login.css" rel="stylesheet">
    <link href="./bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="./jquery/dist/jquery.js"></script>
    <script src="./javascripts/user-register.js"></script>
</head>
<body>
<div class="container">
    <h2 class="sign-title">悦<span> . </span>享</h2>
    <h3 class="sign-tag">记录生活 发现同好</h3>
    <div class="sign-label">
        <form class="form-signin" id='form-signin'>
            <fieldset>
                <p>
                    <label for="inputUserEmail" class="label-user-email"></label>
                    <br>
                    <input id="inputUserEmail" name="inputUserEmail" type="email" class='form-control' autofocus
                           placeholder="邮箱" required autocomplete="on">
                    <span></span>
                </p>
                <p>
                    <label for="inputPassword" class="label-password"></label>
                    <br>
                    <input id="inputPassword" name="inputPassword" type="password" class='form-control'
                           placeholder="密码" minlength="6" maxlength="12" required>
                    <span></span>
                </p>
                <p>
                    <button class="btn btn-block btn-lg" id='register'>注 册</button>
                </p>
                <p>
                    <label class="form-forget">忘记密码? |</label>
                    <label class="form-login">用户登录</label>
                </p>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>








